<div class="container">
  <div class="row center sign-up-form">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <h3 class="header">Sign Up!</h3>
          <div class="row">
            <%= form_with model: @student do |f| %>
              <div class="row">
                <div class="input-field col s12">
                  <%= f.text_field :name, placeholder: "Enter your full name", autocomplete: true %>
                  <%= f.label :name %>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <%= f.email_field :email, placeholder: "Enter your email address" %>
                  <%= f.label :email %>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <%= f.password_field :password, placeholder: "Choose a password" %>
                  <%= f.label :password %>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <%= f.password_field :password_confirmation, placeholder: "Confirm a password" %>
                  <%= f.label :password_confirmation %>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <%= f.button "Submit", class: "btn orange waves-effect waves-light right" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>