<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to 'Link 1', '#' %></li>
  <li><%= link_to 'Link 2', '#' %></li>
  <li class="divider"></li>
  <li><%= link_to 'Link 3', '#' %></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
  <li><%= link_to 'Link 1', '#' %></li>
  <li><%= link_to 'Link 2', '#' %></li>
  <li class="divider"></li>
  <li><%= link_to 'Link 3', '#' %></li>
</ul>
<nav>
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Tech University</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#">Courses</a></li>
        <li><a href="#">Enrollments</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Account<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <ul class="sidenav" id="mobile-demo">
        <li><a href="#">Courses</a></li>
        <li><a href="#">Enrollments</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Account<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </div>
</nav>